language: elixir
elixir:
  - 1.4
  - 1.5
script:
  - mix coveralls.json
after_script:
  - mix deps.get --only docs
  - MIX_ENV=docs mix inch.report
after_success:
  - bash <(curl -s https://codecov.io/bash)
