language: elixir
elixir:
  - 1.5
  - 1.6
script:
  - mix compile --warnings-as-errors
  - if [ "$ELIXIR_VERSION" != "1.5" ]; then mix format --check-formatted; fi
  - mix credo
  - mix coveralls.json
after_script:
  - mix deps.get --only docs
  - MIX_ENV=docs mix inch.report
after_success:
  - bash <(curl -s https://codecov.io/bash)
